@{
    ViewData["Title"] = "Previsualizar Reporte";
}
@model Inventario.Entidades.AjusteProducto

<h2>Previsualización del Reporte de Ajustes de Inventario</h2>

<iframe src="@Url.Action("VisualizarPDF", "Reporte", new { pdfPath = ViewBag.PDFPath })" width="100%" height="600px"></iframe>

<br />
<form asp-action="DescargarPDF" method="post">
    <input type="hidden" name="pdfPath" value="@ViewBag.PDFPath" />
    <button type="submit" class="btn btn-primary">Descargar PDF</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // Asegúrate de que el script se ejecuta cuando el DOM está completamente cargado
        document.addEventListener("DOMContentLoaded", function () {
            // Asignar el valor del ID_Ajuste desde el ViewBag
            var idAjuste = @ViewBag.ID_Ajuste;
            document.getElementById("ID_Ajuste").value = idAjuste;
        });
    </script>
}
