@model Inventario.Entidades.Producto
<link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<div class="wrapper-F">   
    <div class="F_box">
        <div class="F-header">
            <span>Crear Producto</span>
        </div>
        <form id="createForm" method="post" asp-action="Create" asp-controller="Productos" class="F">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input_box-F">
                <input asp-for="ID_Producto" class="input-field-F" value="0" hidden />
                <label for="ID_Producto" class="label-F" hidden>ID</label>
                <span asp-validation-for="ID_Producto" class="text-danger"></span>
            </div>
            <div class="input_box-F">
                <input asp-for="Codigo" type="text" class="input-field-F" required/>
                <label for="Codigo" class="label-F">Código</label>
                <i class="bx bx-barcode icon"></i>
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="input_box-F">
                <input asp-for="Nombre" class="input-field-F" required />
                <label for="Nombre" class="label-F">Nombre</label>
                <i class="bx bx-font icon"></i>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="input_box-F">
                <input asp-for="Descripcion" class="input-field-F" required />
                <label for="Descripcion" class="label-F">Descripción</label>
                <i class="bx bx-comment-detail icon"></i>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="input_box-F">
                <input class="input-field-F" asp-for="GravaIVA" />
                <label class="label-F">@Html.DisplayNameFor(model => model.GravaIVA)</label>
            </div>
            <div class="input_box-F">
                <input asp-for="Costo" class="input-field-F" required />
                <label for="Costo" class="label-F">Costo</label>
                <i class="bx bx-money icon"></i>
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="input_box-F" hidden>
                <input asp-for="PVP" class="input-field-F" value="1" disabled />
                <label for="PVP" class="label-F">Costo</label>
                <span asp-validation-for="PVP" class="text-danger"></span>
            </div>
            <div class="input_box-F">
                <input class="input-field-F" asp-for="Estado" />
                <label class="label-F">@Html.DisplayNameFor(model => model.Estado)</label>
            </div>
            <div class="input_box-F">
                <input asp-for="StockProducto" type="number" class="input-field-F" required />
                <label for="StockProducto" class="label-F">StockProducto</label>
                <i class="bx bx-package icon"></i>
                <span asp-validation-for="StockProducto" class="text-danger"></span>
            </div>
           
            <div class="input_box-F">
                <input type="submit" value="Crear" class="btn2" />
            </div>
            <div class="input_box-F">
                @* <a asp-action="Index" class="btn btn-secondary">Cancelar</a> *@
                <button type="button" class="btn2" data-dismiss="modal">Cerrar</button>

            </div>
            
        </form>
        
    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>
