@model Inventario.MVC.Models.LoginViewModel
<link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
@* <h4>LoginViewModel</h4> *@
<div class="wrapper">
    <div class="login_box">
        <div class="login-header">
            <span>Login</span>
        </div>
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input_box">
                <input asp-for="usr_user" class="input-field" required />
                <label for="usr_user" class="label">Username</label>
                <i class="bx bx-user icon"></i>
                <span asp-validation-for="usr_user" class="text-danger"></span>
            </div>
            <div class="input_box">
                <input asp-for="usr_password" type="password" class="input-field" required />
                <label for="usr_password" class="label">Password</label>
                <i class="bx bx-lock-alt icon"></i>
                <span asp-validation-for="usr_password" class="text-danger"></span>
            </div>
            <div class="input_box">
                <input type="submit" class="input-submit" value="Login" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
