@model Inventario.Entidades.DetalleAjusteProducto

<h4>DetalleAjusteProducto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID_DetalleAjuste" class="control-label" hidden></label>
                <input asp-for="ID_DetalleAjuste" class="form-control" hidden/>
                <span asp-validation-for="ID_DetalleAjuste" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Ajuste" class="control-label" hidden></label>
                <input asp-for="ID_Ajuste" class="form-control" hidden />
                <span asp-validation-for="ID_Ajuste" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ID_Producto" class="control-label"></label>
                <select asp-for="ID_Producto" class="form-control" asp-items="ViewBag.Productos"></select>
                <span asp-validation-for="ID_Producto" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="CantidadAjustada" class="control-label"></label>
                <input asp-for="CantidadAjustada" class="form-control" />
                <span asp-validation-for="CantidadAjustada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RazonAjuste" class="control-label"></label>
                <input asp-for="RazonAjuste" class="form-control" />
                <span asp-validation-for="RazonAjuste" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
